{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">
            Identifiant ou mot de passe incorrect
        </div>
    {% endif %}




    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
    <label for="inputEmail">Identifiant</label>
    <input type="text" name="identifiant" id="inputidentifiant" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>
    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
<a href="{{ path('app_register') }}">Pas encore de compte ? Inscrivez-vous</a>
{% endblock %}
