security:
    password_hashers:
        App\Entity\User: 'auto'

    providers:
        users_in_db:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            pattern: ^/
            provider: users_in_db
            lazy: true
            security: true # remplace l'ancien anonymous
            form_login:
                login_path: login
                check_path: login
            logout:
                path: logout
