{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<form>
<div class="card-header">
      <h1>Connexion</h1>
    </div>
    <div class="card-body">
    <div>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Identifiant">
    </div>
    <div>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe" autocomplete="off">
    </div>
    
    <button type="submit" class="btn btn-primary submit">Submit</button>
  </div>
</form>
</div>
{% endblock %}
