{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <h1>Avis</avis>
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">
      <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Note"></textarea>
  </div>
  <div class="card-body">
      <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Commentaire"></textarea>
  </div>
</div>
</div>
{% endblock %}
