card{
    background-color: orange !important ;

}
.submit{
    margin-top: 10px !important;
}

.container {  
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . grid-middle grid-middle grid-middle grid-middle grid-middle grid-middle . ."
    ". . grid-middle grid-middle grid-middle grid-middle grid-middle grid-middle . ."
    ". . grid-middle grid-middle grid-middle grid-middle grid-middle grid-middle . ."
    ". . grid-middle grid-middle grid-middle grid-middle grid-middle grid-middle . ."
    ". . grid-middle grid-middle grid-middle grid-middle grid-middle grid-middle . ."
    ". . grid-middle grid-middle grid-middle grid-middle grid-middle grid-middle . ."
    ". . . . . . . . . ."
    ". . . . . . . . . .";
}

.grid-middle { grid-area: grid-middle; 
text-align: center;
}
