card, #card-contact{
    background-color: rgb(255, 255, 255) !important ;
    border-radius: 40% !important ;
    margin-top: auto !important;

}
.submit{
    margin-top: 10% !important;
}













.prestation {  display: grid;
    text-align: center;
    background-color: #e95420;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . . . . . ."
    ". image-1 image-1 image-1 image-1 . . . . ."
    ". image-1 image-1 image-1 image-1 . text-image-1 text-image-1 text-image-1 ."
    ". image-1 image-1 image-1 image-1 . text-image-1 text-image-1 text-image-1 ."
    ". image-1 image-1 image-1 image-1 . . . . ."
    ". . . . . Image-2 Image-2 Image-2 Image-2 ."
    ". text-image-2 text-image-2 text-image-2 . Image-2 Image-2 Image-2 Image-2 ."
    ". text-image-2 text-image-2 text-image-2 . Image-2 Image-2 Image-2 Image-2 ."
    ". . . . . Image-2 Image-2 Image-2 Image-2 ."
    ". . . . . . . . . .";
}

.text-image-1 { grid-area: text-image-1; 
color: white;}

.image-1 { grid-area: image-1; 
background-color: white;}

.image-2 { grid-area: Image-2; 
background-color: white;}

.text-image-2 { grid-area: text-image-2; color: white;}


