card, #card-contact{
    background-color: orange !important ;
    border-radius: 40% !important ;

}
.submit{
    margin-top: 10% !important;
}

form{
    margin: auto !important;
    justify-content: center !important;
    align-items: center !important;
}

input{
    whidth: 50%;
}