{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div style="padding: 1em; border-radius:2em;"class=" bg-primary mb-3" style="max-width: rem;">
        <div class="card-body">
        <h4 class="card-title">BIENVENUE</h4>
        <p class="card-text">Nichée au cœur de votre quartier, L’Amie Dorée est bien plus qu’une simple boulangerie : c’est un lieu de partage, d’authenticité et de savoir-faire artisanal. Chaque jour, notre équipe passionnée façonne à la main des pains croustillants, des viennoiseries fondantes et des pâtisseries maison, dans le respect des traditions boulangères françaises.</p>

 <p class="card-text">Chez L’Amie Dorée, la qualité commence dès le choix des ingrédients : farines locales, levain naturel, beurre AOP… Rien n’est laissé au hasard pour vous offrir des produits savoureux, nourrissants et faits avec cœur.</p>

 <p class="card-text">Laissez-vous séduire par l’odeur du pain chaud, par nos brioches moelleuses ou encore nos créations sucrées qui varient au fil des saisons. Que ce soit pour le petit déjeuner, le goûter ou un moment de plaisir, L’Amie Dorée est votre alliée du quotidien.</p>
        <p class="card-text">45 rue de la boulangerie </p>
        </div>
    </div>
</div>
{% endblock %}
