{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<div class="container">
<div class="grid-middle">
    <h1>Contact</avis>
    <form action="" method="POST">
        <div class="card text-white bg-primary mb-3" id="carte-contact" style="max-width: 20rem;">
            <div class="card-header">
            <input type="text" class="form-control" placeholder="Numéro de téléphone" aria-label="Numéro de téléphone" aria-describedby="button-addon2">
            </div>
            <div class="card-body">
            <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Commentaire"></textarea>
            <input type="submit" class="btn btn-light"value="Envoyer">
            </div>
        </div>
    </form>
</div>
</div>
</div>

{% endblock %}
